@font-face {
  font-family: 'iconfont';
  src: url('../font/iconfont.eot');
  /* IE9*/
  src: url('../font/iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('../font/iconfont.woff') format('woff'), /* chrome、firefox */ url('../font/iconfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/ url('../font/iconfont.svg#iconfont') format('svg');
  /* iOS 4.1- */
}
*[data-role=line]:before {
  font-family: iconfont;
  content: "\e601";
}
*[data-role=line][icon-pos=top]:before {
  display: block;
  font-family: iconfont;
  content: "\e601";
}
*[data-role=line][icon-pos=right]:before {
  font-family: iconfont;
  content: "";
}
*[data-role=line][icon-pos=right]:after {
  font-family: iconfont;
  content: "\e601";
}
*[data-role=line][icon-pos=bottom]:before {
  font-family: iconfont;
  content: "";
}
*[data-role=line][icon-pos=bottom]:after {
  display: block;
  font-family: iconfont;
  content: "\e601";
}
*[data-role=rect]:before {
  font-family: iconfont;
  content: "\e602";
}
*[data-role=rect][icon-pos=top]:before {
  display: block;
  font-family: iconfont;
  content: "\e602";
}
*[data-role=rect][icon-pos=right]:before {
  font-family: iconfont;
  content: "";
}
*[data-role=rect][icon-pos=right]:after {
  font-family: iconfont;
  content: "\e602";
}
*[data-role=rect][icon-pos=bottom]:before {
  font-family: iconfont;
  content: "";
}
*[data-role=rect][icon-pos=bottom]:after {
  display: block;
  font-family: iconfont;
  content: "\e602";
}
*[data-role=circle]:before {
  font-family: iconfont;
  content: "\e600";
}
*[data-role=circle][icon-pos=top]:before {
  display: block;
  font-family: iconfont;
  content: "\e600";
}
*[data-role=circle][icon-pos=right]:before {
  font-family: iconfont;
  content: "";
}
*[data-role=circle][icon-pos=right]:after {
  font-family: iconfont;
  content: "\e600";
}
*[data-role=circle][icon-pos=bottom]:before {
  font-family: iconfont;
  content: "";
}
*[data-role=circle][icon-pos=bottom]:after {
  display: block;
  font-family: iconfont;
  content: "\e600";
}
*[data-role=pen]:before {
  font-family: iconfont;
  content: "\e606";
}
*[data-role=pen][icon-pos=top]:before {
  display: block;
  font-family: iconfont;
  content: "\e606";
}
*[data-role=pen][icon-pos=right]:before {
  font-family: iconfont;
  content: "";
}
*[data-role=pen][icon-pos=right]:after {
  font-family: iconfont;
  content: "\e606";
}
*[data-role=pen][icon-pos=bottom]:before {
  font-family: iconfont;
  content: "";
}
*[data-role=pen][icon-pos=bottom]:after {
  display: block;
  font-family: iconfont;
  content: "\e606";
}
*[data-role=five]:before {
  font-family: iconfont;
  content: "\e605";
}
*[data-role=five][icon-pos=top]:before {
  display: block;
  font-family: iconfont;
  content: "\e605";
}
*[data-role=five][icon-pos=right]:before {
  font-family: iconfont;
  content: "";
}
*[data-role=five][icon-pos=right]:after {
  font-family: iconfont;
  content: "\e605";
}
*[data-role=five][icon-pos=bottom]:before {
  font-family: iconfont;
  content: "";
}
*[data-role=five][icon-pos=bottom]:after {
  display: block;
  font-family: iconfont;
  content: "\e605";
}
*[data-role=fill]:before {
  font-family: iconfont;
  content: "\e607";
}
*[data-role=fill][icon-pos=top]:before {
  display: block;
  font-family: iconfont;
  content: "\e607";
}
*[data-role=fill][icon-pos=right]:before {
  font-family: iconfont;
  content: "";
}
*[data-role=fill][icon-pos=right]:after {
  font-family: iconfont;
  content: "\e607";
}
*[data-role=fill][icon-pos=bottom]:before {
  font-family: iconfont;
  content: "";
}
*[data-role=fill][icon-pos=bottom]:after {
  display: block;
  font-family: iconfont;
  content: "\e607";
}
*[data-role=stroke]:before {
  font-family: iconfont;
  content: "\e608";
}
*[data-role=stroke][icon-pos=top]:before {
  display: block;
  font-family: iconfont;
  content: "\e608";
}
*[data-role=stroke][icon-pos=right]:before {
  font-family: iconfont;
  content: "";
}
*[data-role=stroke][icon-pos=right]:after {
  font-family: iconfont;
  content: "\e608";
}
*[data-role=stroke][icon-pos=bottom]:before {
  font-family: iconfont;
  content: "";
}
*[data-role=stroke][icon-pos=bottom]:after {
  display: block;
  font-family: iconfont;
  content: "\e608";
}
*[data-role=strokecolor]:before {
  font-family: iconfont;
  content: "\e603";
}
*[data-role=strokecolor][icon-pos=top]:before {
  display: block;
  font-family: iconfont;
  content: "\e603";
}
*[data-role=strokecolor][icon-pos=right]:before {
  font-family: iconfont;
  content: "";
}
*[data-role=strokecolor][icon-pos=right]:after {
  font-family: iconfont;
  content: "\e603";
}
*[data-role=strokecolor][icon-pos=bottom]:before {
  font-family: iconfont;
  content: "";
}
*[data-role=strokecolor][icon-pos=bottom]:after {
  display: block;
  font-family: iconfont;
  content: "\e603";
}
*[data-role=fillcolor]:before {
  font-family: iconfont;
  content: "\e604";
}
*[data-role=fillcolor][icon-pos=top]:before {
  display: block;
  font-family: iconfont;
  content: "\e604";
}
*[data-role=fillcolor][icon-pos=right]:before {
  font-family: iconfont;
  content: "";
}
*[data-role=fillcolor][icon-pos=right]:after {
  font-family: iconfont;
  content: "\e604";
}
*[data-role=fillcolor][icon-pos=bottom]:before {
  font-family: iconfont;
  content: "";
}
*[data-role=fillcolor][icon-pos=bottom]:after {
  display: block;
  font-family: iconfont;
  content: "\e604";
}
*[data-role=xiangpi]:before {
  font-family: iconfont;
  content: "\e609";
}
*[data-role=xiangpi][icon-pos=top]:before {
  display: block;
  font-family: iconfont;
  content: "\e609";
}
*[data-role=xiangpi][icon-pos=right]:before {
  font-family: iconfont;
  content: "";
}
*[data-role=xiangpi][icon-pos=right]:after {
  font-family: iconfont;
  content: "\e609";
}
*[data-role=xiangpi][icon-pos=bottom]:before {
  font-family: iconfont;
  content: "";
}
*[data-role=xiangpi][icon-pos=bottom]:after {
  display: block;
  font-family: iconfont;
  content: "\e609";
}
